
asyncio
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
heroku3
httpx[http2]==0.27.2
kurigram==2.1.35
lyricsgenius
motor
psutil
pytube
py-tgcalls
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
TgCrypto>=1.2.5
urllib3
uvloop
flask
py-tgcalls
gunicorn
youtube-search-python
yt-dlp
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/yt-dlp/yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
git+https://github.com/vishalpandeynkp1/NobitaAPI
